@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

@import "./reset.scss";
@import "./config.scss";

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  padding: 24px;
  text-align: center;
  font-size: 40px;
}

.timeKeeper {
  text-align: center;

  .time {
    font-size: 8rem;
    margin-bottom: 24px;
  }

  .controls {
    display: flex;
    flex-direction: column;
    max-width: var(--container-width);
    width: 90%;
    margin: auto;
  }

  button {
    font-size: 16px;
    letter-spacing: 2px;
    width: 100%;
    padding: 20px;
    background-color: #3d3d3d;
    color: #ffffff;
    border: none;
    margin-bottom: 10px;
  }
}